<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
		<section name="unity2" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	
	<connectionStrings>
		<add name="SqlConnection" connectionString="data source=(local)\SQLEXPRESS;Integrated Security= SSPI; Initial Catalog=DatabaseName;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<unity2>
		<containers>
			<container>
				<types>
					<register type="Ecng.Data.Database,Ecng.Data" mapTo="Ecng.Data.Database,Ecng.Data">
						<constructor>
							<param name="name" value="Db1"/>
							<param name="connectionString">
								<value value="SqlConnection" typeConverter="Ecng.Configuration.ConnectionSettingsTypeConverter, Ecng.Configuration"/>
							</param>
						</constructor>
						<lifetime type="singleton"/>
					</register>
				</types>
			</container>
		</containers>
	</unity2>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
